body,
html,
#root {
  height: 100%;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .MuiDataGrid-cell {
    min-width: 100px;
  }
}

/* Add to your global CSS file */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .button-group {
    flex-direction: column;
    width: 100%;
  }

  .button-group button {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

/* App.css */
.DataGrid-container {
  background-color: inherit; /* Ensure the background color is consistent */
  color: inherit;
}

.DataGrid-row {
  background-color: inherit; /* Ensure each row has the same background color */
}

.MuiDataGrid-root .MuiDataGrid-cell--textLeft {
  text-align: left;
}

.MuiDataGrid-root .MuiDataGrid-cell--textRight {
  text-align: right;
}

.MuiDataGrid-root .MuiDataGrid-cell--textCenter {
  text-align: center;
}

.DataGrid-row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.MuiDataGrid-filler {
  background-color: inherit;
}
