body,
html,
#root {
  height: 100%;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

.sticky {
  position: sticky;
  left: 0;
  background-color: inherit;
  z-index: 1;
}

@media (max-width: 600px) {
  .MuiDataGrid-cell {
    min-width: 100px;
  }
}
